<div ng-init="getProgramList('c', '1')" class="list">
  <h2>C</h2>
  <a href="#/c" id="C1" ng-click="getProgramList('c', '1')">1</a>
  <a href="#/c" id="C2" ng-click="getProgramList('c', '2')">2</a>
  <a href="#/c" id="C3" ng-click="getProgramList('c', '3')">3</a>
  <a href="#/c" id="C4" ng-click="getProgramList('c', '4')">4</a>
<ul class="programs">
  <li ng-repeat="program in programs">
    <p class="title"><a href="http://bbc.co.uk/iplayer/episode/{{program.initial_children[0].id}}">{{program.title}}</a></p>
    <a id="{{program.image}}" href="http://bbc.co.uk/iplayer/episode/{{program.initial_children[0].id}}"><img src="{{program.image}}" title="Watch {{program.title}}"></a>
    <p class="synopsis">{{program.synopses.small}}</p>
  </li>
</ul>
</div>
