<div ng-init="getProgramList('h', '1')" class="list">
  <h2>H</h2>
  <a href="#/h" id="H1" ng-click="getProgramList('h', '1')">1</a>
  <a href="#/h" id="H2" ng-click="getProgramList('h', '2')">2</a>
  <a href="#/h" id="H3" ng-click="getProgramList('h', '3')">3</a>
<ul class="programs">
  <li ng-repeat="program in programs">
    <p class="title"><a href="http://bbc.co.uk/iplayer/episode/{{program.initial_children[0].id}}">{{program.title}}</a></p>
    <a id="{{program.image}}" href="http://bbc.co.uk/iplayer/episode/{{program.initial_children[0].id}}"><img src="{{program.image}}" title="Watch {{program.title}}"></a>
    <p class="synopsis">{{program.synopses.small}}</p>
  </li>
</ul>
</div>
