<div ng-init="getProgramList('k', '1')" class="list">
  <h2>K</h2>
<ul class="programs">
  <li ng-repeat="program in programs">
    <p class="title"><a href="http://bbc.co.uk/iplayer/episode/{{program.initial_children[0].id}}">{{program.title}}</a></p>
    <a id="{{program.image}}" href="http://bbc.co.uk/iplayer/episode/{{program.initial_children[0].id}}"><img src="{{program.image}}" title="Watch {{program.title}}"></a>
    <p class="synopsis">{{program.synopses.small}}</p>
  </li>
</ul>
</div>
